<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fantasy Basketball Tools</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    {% block script %}{% endblock script %}
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
  </head>

  <body class="site">
      <!-- START NAV -->
      <nav class="navbar is-dark">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
              <img src="{% static 'main/logo.png' %}" alt="kawh.io">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="{% url 'index' %}">
                Home
              </a>
              <a class="navbar-item" href="{% url 'import' %}">
                Import League
              </a>
              {% if request.session.leagueId %}
                <a class="navbar-item" href="{% url 'league' %}">
                  My League
                </a>
                <a class="navbar-item" href="{% url 'compare' 1 %}">
                  Week Compare
                </a>
              {% endif %}
            </div>

            <div class="navbar-end">
              {% if request.session.leagueId %}
                <div class="navbar-item">
                  <a href="{% url 'refresh' %}" class="button is-small">
                    Refresh League
                  </a>
                </div>
              {% endif %}
              <div class="navbar-item">
                <a class="field has-addons">
                  <a class="control">
                    <input class="input is-small" type="text" placeholder="Player Search" id="player_search">
                  </a>
                  <a class="control">
                      <a class="button is-small is-static">
                          Search
                      </a>
                    </a>
                </a>
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                  $(function() {
                    $("#player_search").autocomplete({
                      minLength: 2,
                      source: "{% url 'search' %}",
                      select: function (event, ui) {
                          var search_url="{% url 'search' %}?player_name=";
                          window.location = search_url.concat(ui.item.label);
                      }
                    });
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- END NAV -->
    
      <main class="site-content">
        {% block content %}{% endblock %}
      </main>
    
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <div class="soc">
              <a href="https://github.com/json-h/kawh.io"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </footer>

  </body>

</html>