{% extends 'main/base.html' %}
{% load static %}

{% block script %}
  <script src="{% static 'main/private.js' %}"></script>  
{% endblock script %}

{% block content %}
  <div class="section">
    <div class="container">
      
      <div class="content has-text-centered">
        <h1 class="title is-3" style="color: white;">Import your league</h1>  
      </div>
      <br>
      <div class="columns">
        <div class="column is-4">
          <div class="box">
            
            <form action="/import/" method="post">
              
              {% csrf_token %}
              {{ form.non_field_errors }}
              
              <div class="field">
                {{ form.league_id.errors }}
                {{ form.league_id.label_tag.as_hidden }}
                <label class="label">League ID</label>
                {{ form.league_id }}
                <span class="helptext">{{ form.league_id.help_text }}</span>
              </div>
              
              <br>
              
              <div class="field">
                {{ form.private.errors }}
                {{ form.private.label_tag.as_hidden }}
                <label class="checkbox">
                  {{ form.private }}
                  Is this league private?
                </label>
                <span class="helptext">{{ form.private.help_text }}</span>
              </div>

              <div class="field" name="priv" style="display:none">
                {{ form.espn_s2.errors }}
                {{ form.espn_s2.label_tag.as_hidden }}
                <label class="label">ESPN_S2</label>
                {{ form.espn_s2 }}
                <span class="helptext">{{ form.espn_s2.help_text }}</span>
              </div>

              <div class="field" name="priv" style="display:none">
                {{ form.swid.errors }}
                {{ form.swid.label_tag.as_hidden }}
                <label class="label">SWID</label>
                {{ form.swid }}
                <span class="helptext">{{ form.swid.help_text }}</span>
              </div>
              
              <br>
              <div class="field">
                <div class="control">
                  <button class="button">Submit</button>
                </div>
              </div>
            
            </form>
          
          </div>
        </div>
        
        <div class="column is-8">
          <div class="box">
            <h1 class="subtitle is-8" style="color: white;">League ID</h1>
            <p>You can find your league ID from your league URL.</p>
            <br>
            <img src="{% static 'main/league_url.png' %}" alt="kawh.io">
            <br> <br>
            <h1 class="subtitle is-8" style="color: white;">Private Leagues</h1>
            <p>Click on the private checkbox, then find your ESPN_S2 and SWID by going to your league page, and opening the developer console for your browser (usually F12).</p>
            <br>
            <img src="{% static 'main/espns2_swid.png' %}" alt="kawh.io">
            <br> <br>
            <p>Find the Application tab, and copy and paste the values into the specified fields.</p>
          </div>
        </div>
      
      </div>
    </div>
  </div>
{% endblock content %}