{% extends 'main/base.html' %}

{% block content %}
  <div class="section">
    <div class="container">
      <div class="content has-text-centered">
        <h1 class="title is-3" style="color: white;">kawh.io</h1>
        <h2 class="subtitle is-5" style="color: #ff611d">An open-source Fantasy Basketball Wizard.</h2>
        <br>
        {% if not request.session.leagueId %}
          <p>Only ESPN leagues are supported at this time.</p>
          <a href="{% url 'import' %}" class="button is-medium" style="display: inline-block">Import your ESPN league</a>
          <a href="{% url 'test' %}" class="button is-medium" style="display: inline-block">Import an example league</a>
          <!-- replace brs with margins --> 
          <br>
          <br>
          <br>
          <br>
        {% endif %}
        <div class="columns">
          
          <div class="column">
            <div class="box">
              <h1 class="title is-5" style="color: white;">League Stats</h1>
              <p>See your league's teams, players, and statistics on the League page.<br><br></p>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <h1 class="title is-5" style="color: white;">Player Stats</h1>
              <p>Use the searchbar to find a player's profile or view the full list of players which contain a variety of useful information.</p>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <h1 class="title is-5" style="color: white;">Week Comparison</h1>
              <p> See how your current team would have fared in previous weeks against your opponents.<br><br></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}
